<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="cnnString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=..\..\Database\BibliotecaDB.mdb; 
        Jet OLEDB:Database Password=oop;"
        />
    -->
    <!-- Cadena de conexión a la base de datos codificada en base64 -->
    <add name="cnnString"
      connectionString="UHJvdmlkZXI9TWljcm9zb2Z0LkpldC5PTEVEQi40LjA7IERhdGEgU291cmNlPS4uXC4uXERhdGFiYXNlXEJpYmxpb3RlY2FEQi5tZGI7IA0KICAgICAgICBKZXQgT0xFREI6RGF0YWJhc2UgUGFzc3dvcmQ9b29wOw=="
        />
  </connectionStrings>
</configuration>
